Options -MultiViews

RewriteEngine On
RewriteBase /

# Protéger le dossier BackEnd

RewriteRule ^BackEnd/ - [L]

# Ne pas réécrire les fichiers et dossiers existants

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Ignore index.php

RewriteCond %{REQUEST_URI} !index\.php$

# Réécrire tout vers FrontEnd/index.php

RewriteRule . FrontEnd/index.php [L]
