Options -MultiViews

RewriteEngine On
RewriteBase /

# Protéger le dossier BackEnd

RewriteRule ^BackEnd/ - [L]

# Ne pas réécrire les fichiers et dossiers existants

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrire tout vers FrontEnd/index.html

RewriteRule . FrontEnd/index.html [L]
