:root {
  --backgroundcolor: #131313;
  --primarycolor: #8e56ff;
  --elementshade: rgba(255, 255, 255, 0.1);
  --textcolor: #acacac;
}
body {
  /* background-color: var(--backgroundcolor); */
  color: var(--textcolor);
  font-family: "jersey 25", sans-serif;
  min-height: 200vh;
  background:
    radial-gradient(circle at top right, #8e56ff, transparent 35%),
    radial-gradient(circle at bottom left, #06b6d4, transparent 20%), #131313;
}
header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
  padding: 0px 200px;
  top: 0;
  z-index: 1000;
}
#logo {
  width: 180px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}
header a {
  color: var(--textcolor);
  text-decoration: none;
  font-size: 18px;
  padding: 20px 20px;
}
header a:hover {
  transition: 0.5s;
  color: #ffffff;
  cursor: pointer;
}
